/* Pagina 1(Inicio)
 */
.btn {
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(163, 40, 112);
    color: white;
    border-radius: 10px;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
}

body {
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}