body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #E07BB5 0%, #AC5B89 50%, #5A0D39 100%);
    padding-bottom: 200px;
}

h1 {
    color: #DDD8D8;
    font-family: "Protest Strike";
    font-size: 300px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 90px;
    margin-top: 10px;

}

#mostrarInformes {
    cursor: pointer;
    width: 752px;
    height: 135px;
    margin: 100px;
    border-radius: 77px;
    background: #D9D9D9;
    color: #000;
    font-size: 64px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}


