body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
}

.Formulario {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SituacionCalle {
  position: absolute;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* Posiciona cada botón en una ubicación específica */
.calle1 {
  top: 295px;
  left: 230px;
}

.calle2 {
  top: 295px;
  left: 590px;
}

.calle3 {
  top: 480px;
  left: 230px;
}

.calle4 {
  top: 480px;
  left: 590px;
}
