body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background-image: url("image\ 29.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.book{
    margin: 100px;
}

@media (max-width: 1536px) and (max-height: 864px) {
    .information-childs {
        width: 700px; 
    }

    .book {
        margin-left: 200px;
        margin-top: 200px;
        }
}

