.botonSolucion1 {
    position: absolute;
    top: 80%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(173, 28, 166);
    padding: 15px; 
}
.botonSolucion2 {
    position: absolute;
    top: 80%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(173, 28, 166);
    padding: 15px; 
}
.botonSolucion3 {
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(173, 28, 166);
    padding: 15px; 
}
.botonAudioSolución1{
    position: absolute;
    top: 75.4%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(250, 6, 6);
    padding: 15px; 
}
.botonAudioSolución2{
    position: absolute;
    top: 75.4%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(250, 6, 6);
    padding: 15px; 
}
.botonAudioSolución3{
    position: absolute;
    top: 75.4%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(250, 6, 6);
    padding: 15px; 
}
.botonTextoSolución1{
    position: absolute;
    top: 84.7%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(6, 250, 39);
    padding: 15px; 
}
.botonTextoSolución2{
    position: absolute;
    top: 84.7%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(6, 250, 39);
    padding: 15px; 
}
.botonTextoSolución3{
    position: absolute;
    top: 84.7%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(6, 250, 39);
    padding: 15px; 
}
.botonLecturaSolución1{
    position: absolute;
    top: 75.4%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(250, 234, 6);
    padding: 15px; 
}
.botonLecturaSolución2{
    position: absolute;
    top: 75.4%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(250, 234, 6);
    padding: 15px; 
}
.botonLecturaSolución3{
    position: absolute;
    top: 75.4%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(250, 234, 6);
    padding: 15px; 
}
.botonimagenProblemacolegio1{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(173, 28, 166);
    padding: 15px; 
}
.botonLecturaProblemacolegio1{
    position: absolute;
    top: 24%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(250, 234, 6);
    padding: 15px; 
}
.botonAudioProblemacolegio1{
    position: absolute;
    top: 26%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 80px;
    border-radius: 10px;
    background-color: rgb(250, 6, 6);
    padding: 15px; 
}
.botonTextoProblemacolegio1{
    position: absolute;
    top: 44.5%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 80px;
    border-radius: 10px;
    background-color: rgb(6, 250, 39);
    padding: 15px;
}