.information-childs {
    width: 900px;
}

#img1 {
    margin-left: -40px;
}

#img2 {
    padding-right: 180px;
    margin-top: 620px;
    rotate: 180deg;
    position: relative;
}

.container-form {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 100px;
}

.btn {
    cursor: pointer;
    width: 591px;
    height: 79px;
    border-radius: 45px;
    background-color: #BF1D79;
    font-size: 60px;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    text-align: center;
    border: none;
}

body {
    display: flex;
    overflow: hidden;
}

h1 {
    font-size: 90px;
    color: #a51767;
}

h3 {
    font-size: 30px;
    color: #a51767;
}

@media (max-width: 1536px) and (max-height: 864px) {
    .information-childs {
        width: 850px;
    }

    #img1 {
        margin-left: -20px;
    }

    #img2 {
        margin-top: 600px;
        padding-right: 160px;
    }

    .container-form {
        margin-left: 50px;
    }

    .btn {
        width: 550px;
        font-size: 55px;
    }

    h1 {
        font-size: 85px;
    }

    h3 {
        font-size: 28px;
    }
}
