.information-childs {
    width: 900px;

}

#img1 {
    margin-left: -40px; 
}

#img2{
    padding-right: 180px;
    margin-top: 620px;
    rotate: 180deg;
    position: relative;
    rotate: 180deg;
}

.container-form {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 100px;
}

.btn {
    cursor: pointer;
    width: 591px;
    height: 79px;
    top: 624px;
    left: 634px;
    border-radius: 45px;
    background-color: #BF1D79;
    font-size: 60px;
    font-style: inter;
    color: #FFFFFF;
    text-align: center;
    border-color: #BF1D79;
}

body {
    display: flex;
    overflow: hidden;
}

h1 {
    font-size: 90px;
    color: #a51767;
}

h3 {
    font-size: 30px;
    color: #a51767;
}

