
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.contenedor-principal {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 1100px; 
}

.situacion {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.etiqueta-situacion {
    font-weight: bold;
    margin-bottom: 20px;
}

.elementos-principales {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap; 
}

.grupo-iconos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.contenedor-icono {
    padding: 0; 
    margin: 0;  
    text-align: center;
}

.imagen-principal {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: lightgrey;
    text-align: center;
    gap: 10px;
    margin: 0px;
}


.posibles-respuestas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
    padding: 10px;
    flex-wrap: wrap; 
}

.respuesta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    background-color: lightgrey;
    width: 100%; 
    max-width: 300px;
    flex-grow: 1;
    margin-bottom: 20px; 
}

.grupo-izquierda, .grupo-derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.imagen-principal {
    width: 150px; 
    height: auto; 
    margin: 10px; 
    padding: 20px; 
    background-color: lightgrey;
    text-align: center;
}



.botonImagenSolucion1, .botonImagenSolucion2, .botonImagenSolucion3 {
    display: center;
    margin: 0 auto;
    
}


@media (max-width: 768px) {
    .respuesta {
        flex-direction: column;
        align-items: center;
    }

    .imagen-principal {
        margin: 20px; 
    }
}
.icono-boton {
    width: 40px;  
    height: 40px; 
    object-fit: cover; 
}
/*--------------------------------------------------------------------------------------------------*/
.hidden {
    display: none;
}

.text-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid rgb(236, 0, 0);
    background-color: #f9f9f9;
    width: 300px;
    max-width: 80%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.text-box.expanded {
    display: block;
}